BOOTSTRAP_ADMIN_USERNAME=admin
BOOTSTRAP_ADMIN_PASSWORD=changeme
TIMEY_HOST=timey.localhost
TRAEFIK_NETWORK=proxy
TRAEFIK_ENTRYPOINT=websecure
TRAEFIK_CERTRESOLVER=letsencrypt
REGISTRY=ghcr.io/logicexception
TIMEY_TAG=0.3.1
